@import "root.css";

.wrapper {
	max-width: 72rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

.team-name-header {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

#team-name-input {
	background: transparent;
	color: #f9f5d7;
	border: 0;
	outline: 0;
	border-radius: 8px 8px 0 0;
	border-bottom: 1px solid #ff7f00;
	font-size: 1rem;
	letter-spacing: 0.25px;
	padding: 0.5rem;
	margin: 0.75rem 0 2rem 0;
	flex: 0 1 100%;
}

ul {
	padding: 0;
	list-style: none;
	width: 100%;
}

li {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 1rem;
}

li:nth-child(even) {
	background-color: #32302f;
}

li:nth-child(odd) {
	background-color: #3c3836;
}

.challenge-header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.flag-input {
	background: transparent;
	color: #f9f5d7;
	border: 0;
	outline: 0;
	border-radius: 8px 8px 0 0;
	border-bottom: 1px solid #ff7f00;
	font-size: 1rem;
	letter-spacing: 0.25px;
	padding: 0.5rem;
}

li > p {
	width: 100%;
	text-align: start;
}

input[type="button"] {
	min-width: 9rem;
	padding: 0.75rem 1.5rem;
	font-weight: bolder;
	font-size: 1.125rem;
	text-transform: uppercase;
	letter-spacing: 1.25px;
	line-height: 1rem;
	border-radius: 50px;
	outline: 0;
	margin: 1rem;
	transition: all 0.25s;
	flex: 0 1 auto;
	text-align: center;
	background-color: #ff7f00;
	color: #202020;
	border: 0;
}

input[type="button"]:hover {
	cursor: pointer;
	background-color: #cc6600;
}

input[type="button"]:focus {
	box-shadow: 0 0 0 0.2rem #202020, 0 0 0 0.3rem #ff7f00;
}
